{% load staticfiles %}
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <style>
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header .mdl-layout__header-row .mdl-navigation__link.selected {
      color: black;
      background-color: white;
      transition: all 0.5s;
    }
  </style>
	{% block other_styles %}
	{% endblock %}
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
	<!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><i class="fa fa-briefcase" aria-hidden="true"></i>  InternHub</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/hub/employer/">My Jobs</a>
          <a class="mdl-navigation__link" href="/hub/employer/logout/">Logout</a>
        </nav>
      </div>
    </header>
    <!-- The left side-bar (next 9 lines) -->
<!--     <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div> -->
    <main class="mdl-layout__content">
      <div class="page-content"><!-- Your content goes here -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col">
            <!-- add content here -->
            {% block left_content %}

          	{% endblock %}
          </div>
          <div class="mdl-cell mdl-cell--8-col">
          <!-- also here -->
          {% block middle_content %}

          {% endblock %}

          </div>
          <div class="mdl-cell mdl-cell--2-col">
          {% block right_content %}

          {% endblock %}

          </div>

          {% block scripts %}

          {% endblock %}
        </div>
      </div>
    </main>
  </div>

  <script>
    var links = Array.prototype.slice.call(document.querySelectorAll(".mdl-layout.mdl-js-layout.mdl-layout--fixed-header .mdl-layout__header-row .mdl-navigation__link"));
    for (var i = 0; i < links.length; i++) {
      links[i].addEventListener("mouseover", function() {
        this.classList.add("selected");
      });
      links[i].addEventListener("mouseout", function(){
        this.classList.remove("selected");
      });
    };
  </script>
</body>
</html>

{% block external_scripts %}

{% endblock %}