{% extends 'hub/base_employer.html' %}

{% block title %}New Job{% endblock %}
{% block other_styles %}
<!-- Page styles -->  
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">


<style>
.full-width {
  width: 100%;
}
.extra-wide {
  width: 250%;
}

</style> 
{% endblock %}

{% block middle_content %}
  <div style="padding: 80px 56px" class="content mdl-card mdl-shadow--2dp full-width">
    <h1>Create a New Job</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input" type="text" id="id_title" name="title">
	    <label class="mdl-textfield__label" for="id_title">Title</label>
	  </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <textarea class="mdl-textfield__input extra-wide" rows=15 type="text" id="id_description" name="description"></textarea>
	    <label class="mdl-textfield__label" for="id_description">Description</label>
	  </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <select class="mdl-textfield__input" id="id_skill" name="skill">
          <option></option>
          <option value="J">Junior</option>
          <option value="I">Intermediate</option>
          <option value="S">Senior</option>
        </select>
        <label class="mdl-textfield__label" for="id_skill">Skill Level</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	    <input class="mdl-textfield__input" type="text" id="id_deadline" name="deadline">
	    <label class="mdl-textfield__label" for="id_deadline">Deadline(YYYY-MM-DD)</label>
	  </div>
      <br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
      Submit
      </button>
    </form>
  </div>
{% endblock %}

