#studentButton{
	position:relative;
	top:300px;
}

#adminButton{
	position:relative;
	top:300px;
}

#employerButton{
	position:relative;
	top:300px;
}

.navbar-inverse { 
  background-image: url(../images/navbackground.png);
  background-size: cover;
  background-position: center;
  /*background-color: #005CFF;*/
  color: white;
}

.navbar-inverse .navbar-brand{
  color:white;
  font-size: 40px;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-size: 25px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}

.navbar-inverse .navbar-brand.selected ,.navbar-inverse .navbar-nav>li>a[class="selected"] {
  color: black;
  background-color: white;
}

.rpselected {
  background-image: url(raw/navbackground.png);
  background-size: cover;
  background-position: center;
  border: 5px solid #0033FC;
  font-size: 35px;
}

body {
    background: url(../images/wallpaper.png);
    background-size: cover;
    background-position: center; 
}
